<h1>Book感想掲示板</h1>
<div>
  <%= form_with model: @book, url: book_path, method: :post do |f| %>
    <table>
      <tbody>
        <tr>
          <td><%= f.label :title, 'タイトル' %></td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td><%= f.label :body, '紹介文' %></td>
          <td><%= f.text_area :body %></td>
        </tr>
        <tr>
          <td><%= f.label :name, 'タグ' %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit :投稿 %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>


